/* HTML tag section */
header {
    margin: 10px;
    justify-content: space-between;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 69vw;
    margin: auto;
    margin-top: 10vh;
}

h1 {
    margin-top: 15px;
    font-size: 27px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 15px;
    transition: 0s;
    color: red;
    opacity: 0%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
}

button {
    background-color: blueviolet;
    border-radius: 5px;
    color: cornsilk;
    margin:3px;
}

button:active {
    background-color: darkblue;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
}

/* IDs */
#initials {
    text-align: center;
}

/* classes */
.icon-box {
    display: flex;
    width:100%;
    justify-content: center;
}

.completed-question-icon {
    margin: 2px;
    width: 10px;
    height: 10px;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.welcome {
    text-align: center;
}

.qCard {
    margin: 1px;
    margin-top: 15px;
}

.button-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.highscore-entry {
    text-align: center;
    width: 227px;
    margin: auto;
}

.failure {
    text-align: center;
    width: 227px;
    margin: auto;
}

.hidden {
    display:none;
}

.answer {
    width: 45%;
}